<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/main-style.css">
  <link rel="stylesheet" type="text/css" href="styles/buchung-style.css">
  <meta charset="UTF-8">
    <title>App. Hörtmair</title>
</head>

  <body>

      <div class="homepage">
        <div id="main-presentation">
      <header>
        <div id="navigation">
          <a id="startseite" href="?aktion=startseite">Startseite</a>
          <a id="preise" href="?aktion=preise">Preise</a>
          <a id="buchung" href="?aktion=buchung">Buchung</a>
          <a id="umgebung" href="?aktion=umgebung">Umgebung</a>
        </div>

      </header>
      </div>
        </div>

       <div class="content-allgemein">

         <div class="anzeige">

         <div class="calendar">
           <div class="wrapper">
            <div class="container-calendar">
        			<div class="button-container-calendar">
        				<button id="previous">&#8249;</button>
        				<button id="next">&#8250;</button>
        				<h3 id="monthHeader"></h3>
        				<p id="yearHeader"></p>
        			</div>

        			<table class="table-calendar" id="calendar">
        				<thead id="thead-month"></thead>
        				<tbody id="calendar-body"></tbody>
        			</table>

        			<div class="footer-container-calendar">
        				<label for="month">Jump To: </label>
        				<select id="month">
        					<option value=0>Jan</option>
        					<option value=1>Feb</option>
        					<option value=2>Mär</option>
        					<option value=3>Apr</option>
        					<option value=4>Mai</option>
        					<option value=5>Jun</option>
        					<option value=6>Jul</option>
        					<option value=7>Aug</option>
        					<option value=8>Sep</option>
        					<option value=9>Okt</option>
        					<option value=10>Nov</option>
        					<option value=11>Dez</option>
        				</select>
        				<select id="year"></select>
        			</div>
        			<p id="date-picked"></p>
        		</div>
        	</div>
         </div>

         <form class="formular" action="?aktion=buchen" method="post" >
          <ol class="list">
            <li class="lsititem" >
              <div class="label" style="margin-top: 1vh;">
           	    <label class="form_field">Vorname: </label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
           	    <input type="text" name="field_0" id="field_0" value="" class="text_box" required>
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Nachname:</label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
           	    <input type="text" name="field_1" id="field_1" value="" class="text_box" required>
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Straße:</label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
           	    <input type="text" name="field_2" id="field_2" value="" class="text_box" required>
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Ort & Plz:</label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
           	    <input type="text" name="field_3" id="field_3" value="" class="text_box" required>
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">E-Mail:</label>
                <label class="form_required"></label>
              </div>
           	  <div class="field">
           	    <input type="text" name="field_4" id="field_4" value="" class="text_box" required>
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Telefonnummer:</label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
           	    <input type="text" name="field_5" id="field_5" value="" class="text_box" required>
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Anreisedatum:</label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
           	    <input type="date" name="field_6" id="field_6" value="" class="text_box" required>
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Abreisedatum:</label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
           	    <input type="date" name="field_7" id="field_7" value="" class="text_box" required>
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Anzahl Erwachsener:</label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
           	    <input type="text" name="field_8" id="field_8" value="" class="text_box" required>
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Anzahl Kinder:</label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
           	    <input type="text" name="field_9" id="field_9" value="" class="text_box" required>
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Appartemet: </label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
                <select name="field_10" id="field_10" class="text_box" required>
                  <option value=""> </option>
                  <option value="1">Appartemet Wiese</option>
                  <option value="0">Appartemet Wald</option>
                </select>
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Besonderheiten & Fragen:</label>
                <label class="form_required"></label>
              </div>
           	  <div class="field">
           	    <textarea name="textarea_1" id="textarea_1" rows="4" cols="25" class="text_area"></textarea>
           	 </div>
            </li>
          </ol>

         <div id="senden">
           <input type="submit" name="submit" value="Senden" id="sendenBuchung">
         </div>

         </form>

        </div>

       </div>


      <footer id="footer1">
        <div id="anschrift">
          <p>Appartements Hörtmair</p>
          <p> Claudia</p>
          <p>Sankt-Niklaus-Weg - 39032 Ahornach - Sand in Taufers</p>
          <p>Tel: +39 0000 000000 &nbsp; Mobil: +39 0000 000000</p>
          <p>E-Mail: <a href="mailto:"></a></p>
          <p>MwSt: </p>
        </div>
      </footer>

      <script>
      var today = new Date();
      var currentMonth = today.getMonth();
      var currentYear = today.getFullYear();
      var selectYear = document.getElementById("year");
      var selectMonth = document.getElementById("month");
      var monthHeader = document.getElementById("monthHeader");
      var yearHeader = document.getElementById("yearHeader");
      var nextBtn = document.getElementById("next");
      var previousBtn = document.getElementById("previous");
      var datePicked = document.getElementById("date-picked");
      var months = "";
      var days = "";
      var monthsArr = ["Januar", "Februar", "März", "April", "Mai", "Juny", "July", "August", "September", "Oktober", "November", "Dezember"];
      var daysArr = ["So", "Mo", "Di", "Mi", "Do", "Fr", "Sa"];

      months = monthsArr;
      days = daysArr;

      var tableHeaderMonth = document.getElementById("thead-month");
      var dataHead = "<tr>";
      var startDay = "";

      for (dhead in days) {
        days[dhead] === "Sun" ? startDay = "red-text" : startDay = "";
        dataHead += "<th data-days='" + days[dhead] + "' class='" + startDay + "'>" + days[dhead] + "</th>";
      }

      dataHead += "</tr>";
      tableHeaderMonth.innerHTML = dataHead;
      showCalendar(currentMonth, currentYear);

      nextBtn.addEventListener("click", next, false);
      previousBtn.addEventListener("click", previous, false);

      function yearRange(start, end) {
        var years = "";

        for (var year = start; year <= end; year++) {
          years += "<option value='" + year + "'>" + year + "</option>";
        }

        return years;
      }

      var createYear = yearRange(1970, 2050);
      selectYear.innerHTML = createYear;

      function next() {
        currentYear = currentMonth === 11 ? currentYear + 1 : currentYear;
        currentMonth = (currentMonth + 1) % 12;
        showCalendar(currentMonth, currentYear);
      }

      function previous() {
        currentYear = currentMonth === 0 ? currentYear - 1 : currentYear;
        currentMonth = currentMonth === 0 ? 11 : currentMonth - 1;
        showCalendar(currentMonth, currentYear);
      }

      function jump() {
        currentYear = parseInt(selectYear.value);
        currentMonth = parseInt(selectMonth.value);
        showCalendar(currentMonth, currentYear);
      }

      function showCalendar(month, year) {
        var firstDay = new Date(year, month).getDay();
        var monthString = monthsArr[month];

        table = document.getElementById("calendar-body");
        table.innerHTML = "";
        monthHeader.innerHTML = monthString.substring(0, 3);
        yearHeader.innerHTML = year;
        selectYear.value = year;
        selectMonth.value = month;

        var date = 1;

        for (var i = 0; i < 6; i++ ) {
          var row = document.createElement("tr");

        for (var j = 0; j < 7; j++) {
          if (i === 0 && j < firstDay) {
            cell = document.createElement("td");
            cellText = document.createTextNode("");
            cell.appendChild(cellText);
            row.appendChild(cell);
          } else if (date > daysInMonth(month, year)) {
            break;
          } else {
            cell = document.createElement("td");
            cell.setAttribute("data-date", date);
            cell.setAttribute("data-month", month + 1);
            cell.setAttribute("data-year", year);
            cell.setAttribute("data-month-name", months[month]);
            cell.className = "date-picker";
            cell.innerHTML = "<span>" + date + "</span>";
            var dispalyDay = date;
            var dispalyMonth = month + 1;
            if(dispalyDay <= 9 ){ dispalyDay = "0" + dispalyDay}
            if(dispalyMonth <= 9 ){ dispalyMonth = "0" + dispalyMonth}
            var datum = year + "-" + dispalyMonth + "-" + dispalyDay;
            var temp1 = "<?php foreach($anreiseDatum as $anD ){
                echo $anD->getAnreise()."#";
              }; ?>";
            anreise = temp1.split("#");
            var temp2 = "<?php foreach($abreiseDatum as $abD ){
                echo $abD->getAbreise()."#";
              }; ?>";
            abreise = temp2.split("#");
            for (var i = 0; i < anreise.length; i++) {
              if(anreise[i] <= datum && abreise[i] >= datum){
                cell.classList.add("occupied");
              }
            }
            cell.onclick = function(event) {
              var dates = document.querySelectorAll(".date-picker");
              var currentTarget = event.currentTarget;
              var date = currentTarget.dataset.date;
              var month = currentTarget.dataset.month - 1;
              var year = currentTarget.dataset.year;

              for (var i = 0; i < dates.length; i++) {
                dates[i].classList.remove("selected");
              }

              currentTarget.classList.add("selected");
              if(currentTarget.classList.contains("occupied")){
              datePicked.innerHTML = date + " " + monthsArr[month] + " " + year + "</br> besetzt";
            }else{
              datePicked.innerHTML = date + " " + monthsArr[month] + " " + year;
            }
            }

            if (date === today.getDate() && year === today.getFullYear() && month === today.getMonth()) {
              cell.className = "date-picker selected";
            }

            row.appendChild(cell);
            date++;
        }
      }

      table.appendChild(row);
    }
  }

  function daysInMonth(month, year) {
    return 32 - new Date(year, month, 32).getDate();
  }
      </script>

    </body>
    </html>
