<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/main-style.css">
  <link rel="stylesheet" type="text/css" href="styles/preise-style.css">
  <meta charset="UTF-8">
    <title>App. Hörtmair</title>
</head>

  <body>

      <div class="homepage">
        <div id="main-presentation">
      <header>
        <div id="navigation">
          <a id="startseite" href="?aktion=startseite">Startseite</a>
          <a id="preise" href="?aktion=preise">Preise</a>
          <a id="buchung" href="?aktion=buchung">Buchung</a>
          <a id="umgebung" href="?aktion=umgebung">Umgebung</a>
        </div>

      </header>
      </div>
        </div>

       <div class="content-allgemein">

         <div id="zurBuchung">
          <a id="weiterBuchung" href="?aktion=buchung">zur Buchung</a>
         </div>

         <div class="anzeige">

         <div class="preise">
           <h2 style="text-align: center;">Preise</h2>
           <h3>Hauptsaison:</h3>
           <h4>65€ Grundpreis pro Tag + 15€ pro zusätzliche Person</h4>
           <h3>Nebensaison:</h3>
           <h4>55€ Grundpreis pro Tag + 12€ pro zusätzliche Person</h4>
           <h3>Endreinigung:</h3>
           <h4>25€</h4>
         </div>

         <div class="hausregeln">
           <h2 style="text-align: center;">Hausregeln</h2>
           <h3>Wichtig!</h3>
           <h4>- Hausregel 1</h4>
           <h4>- Hausregel 2</h4>
           <h4>- Hausregel 3</h4>
         </div>

         </div>

       </div>


      <footer id="footer1">
        <div id="anschrift">
          <p>Appartements Hörtmair</p>
          <p> Claudia</p>
          <p>Sankt-Niklaus-Weg - 39032 Ahornach - Sand in Taufers</p>
          <p>Tel: +39 0000 000000 &nbsp; Mobil: +39 0000 000000</p>
          <p>E-Mail: <a href="mailto:"></a></p>
          <p>MwSt: </p>
        </div>
      </footer>

    </body>
    </html>
