<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/main-style.css">
  <link rel="stylesheet" type="text/css" href="styles/buchung-style.css">
  <meta charset="UTF-8">
    <title>App. Hörtmair</title>
</head>

  <body>

      <div class="homepage">
        <div id="main-presentation">
      <header>
        <div id="navigation">
          <a id="startseite" href="?aktion=startseite">Startseite</a>
          <a id="kontakt" href="?aktion=startseite">Preise</a>
          <a id="buchung" href="?aktion=buchung">Buchung</a>
          <a id="umgebung" href="?aktion=startseite">Umgebung</a>
        </div>

      </header>
      </div>
        </div>

       <div class="content-allgemein">

         <div class="anzeige">

         <div class="calendar">

         </div>

         <div class="formular">
          <ol class="list">
            <li class="lsititem" >
              <div class="label" style="margin-top: 1vh;">
           	    <label class="form_field">Vorname:</label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
           	    <input type="text" name="field_0" id="field_0" value="" class="text_box">
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Nachname:</label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
           	    <input type="text" name="field_0" id="field_0" value="" class="text_box">
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Straße:</label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
           	    <input type="text" name="field_0" id="field_0" value="" class="text_box">
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Ort & Plz:</label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
           	    <input type="text" name="field_0" id="field_0" value="" class="text_box">
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">E-Mail:</label>
                <label class="form_required"></label>
              </div>
           	  <div class="field">
           	    <input type="text" name="field_0" id="field_0" value="" class="text_box">
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Telefonnummer:</label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
           	    <input type="text" name="field_0" id="field_0" value="" class="text_box">
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Anreisedatum:</label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
           	    <input type="text" name="field_0" id="field_0" value="" class="text_box">
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Abreisedatum:</label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
           	    <input type="text" name="field_0" id="field_0" value="" class="text_box">
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Anzahl Erwachsener:</label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
           	    <input type="text" name="field_0" id="field_0" value="" class="text_box">
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Anzahl Kinder:</label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
           	    <input type="text" name="field_0" id="field_0" value="" class="text_box">
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Appartemet: (Wald/Wiese)</label>
                <label class="form_required">*</label>
              </div>
           	  <div class="field">
           	    <input type="text" name="field_0" id="field_0" value="" class="text_box">
           	 </div>
            </li>
            <li class="lsititem" >
              <div class="label">
           	    <label class="form_field">Besonderheiten & Fragen:</label>
                <label class="form_required"></label>
              </div>
           	  <div class="field">
           	    <textarea name="textarea_1" id="textarea_1" rows="4" cols="25" class="text_area"></textarea>
           	 </div>
            </li>
          </ol>
         </div>

         </div>

         <div id="senden">
          <a id="sendenBuchung" href="">Senden</a>
         </div>

       </div>


      <footer id="footer1">
          <div id="anschrift">
          <p>Appartements Hörtmair</p>
          <p> Claudia</p>
          <p> Sand in Taufers</p>
          <p>Tel: <a href="tel:+39 0000 000000">+39 0000 000000</a> &nbsp; . &nbsp; Mobil: <a href="tel:+39 0000 000000">+39 0000 000000</a></p>
          <p>E-Mail: <a href="mailto:"></a></p>
          <p>MwSt: </p>
          </div>
      </footer>

    </body>
    </html>
