<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/main-style.css">
  <link rel="stylesheet" type="text/css" href="styles/startseite-style.css">
  <meta charset="UTF-8">
    <title>App. Hörtmair</title>
</head>

  <body>

      <div class="homepage">
        <div id="main-presentation">
      <header>
        <div id="navigation">
          <a id="startseite" href="?aktion=startseite">Startseite</a>
          <a id="kontakt" href="?aktion=startseite">Kontakt</a>
          <a id="buchung" href="?aktion=buchung">Buchung</a>
          <a id="umgebung" href="?aktion=startseite">Umgebung</a>
        </div>

      </header>
      </div>

       <div class="content-allgemein">

         <div class="app1">
           <div id="bild1"></div>
           <div id="smalltextApp1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
           <a id="app1" href="?aktion=appartement1">weiter</a>
         </div>

         <div class="app2">
           <div id="bild2"></div>
           <div id="smalltextApp2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
           <a id="app2" href="?aktion=appartement2">weiter</a>
         </div>

         <a id="weiterBuchung" href="">zur Buchung</a>

       </div>

      </div>

      <footer id="footer1">
          <div id="anschrift">
          <p>Appartements Hörtmair</p>
          <p> Claudia</p>
          <p> Sand in Taufers</p>
          <p>Tel: <a href="tel:+39 0000 000000">+39 0000 000000</a> &nbsp; . &nbsp; Mobil: <a href="tel:+39 0000 000000">+39 0000 000000</a></p>
          <p>E-Mail: <a href="mailto:"></a></p>
          <p>MwSt: </p>
          </div>
      </footer>

    </body>
    </html>
