<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/main-style.css">
  <link rel="stylesheet" type="text/css" href="styles/startseite-style.css">
  <meta charset="UTF-8">
    <title>App. Hörtmair</title>
</head>

  <body>

      <div class="homepage">
        <div id="main-presentation">
      <header>
        <div id="navigation"></div>

      </header>
      </div>
      <div class="content-allgemein">

        <div class="Content <?php if($istEingeschrieben){echo 'meinKurs';} ?>">
          <div class="Beschreibung">

              <div class="informations">

                <div class="Infos">
                  <div class="info-text">
                    <a>Am <span class="info-important">
                  </div>
                  <div class="info-text">
                    <a>Referent: <span class="info-important">
                  </div>
                  <div class="info-text">
                    <a>Ort / Raum: <span class="info-important">
                  </div>
                  <div class="info-text">
                    <a>Kontakt: <span class="info-important">
                  </div>
                  <div class="info-text">
                    <a>Koordination: <span class="info-important">
                  </div>
                  <div class="info-text">
                    <a>Anmeldeschluss: <span class="info-important">
                  </div>
                </div>
                <p>

                </p>


              </div>
          </div>
        </div>
      </div>
      <footer id="footer1">
        <h1>

        </h1>
      </footer>
      </div>

    </body>
    </html>
