:root{
  --box-padding: 2px;
}

$main-blue: rgba(0, 48, 80, 1);
$main-orange: rgba(255, 203, 0, 1);
html, body{
  background-color: var(--main-white);
  padding: 0;
  margin: 0;
  font-family: "Roboto","Helvetica",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.homepage{
  width: 99%;
  margin: 0.5%;
  border: 1px solid var(--dark-white);
  padding-bottom: 0.5%;
}

#main-presentation{
  background-image: url("../../bilder/haus-frontansicht.jpg");
  background-color: #cccccc;
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#navigation{
 width: 90%;
 height: 100%;
 padding-top: 1.5%;
 margin-left: 5%;
 font-size: 24px;
 color: #fff;
 font-weight: bold;
 position: relative;
 line-height: 4vh;
}

#startseite{
  margin: 2vh;
  margin-left: 4vh;
  text-decoration: none;
  color: inherit;
  padding: 2vh 1vh 0;

}

#preise{
  padding: 2vh 1vh 0;
  margin: 2vh;
  text-decoration: none;
  color: inherit;
}

#buchung{
  padding: 2vh 1vh 0;
  margin: 2vh;
  text-decoration: none;
  color: inherit;

        text-transform: uppercase;
}

#umgebung{
  padding: 2vh 1vh 0;
  margin: 2vh;
  text-decoration: none;
  color: inherit;
}

header{
margin: 0;
padding: 0;
  width: 100%;
  height: 7.5%;
border: none;
  background-color: none;
  -webkit-box-shadow:  none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative !important;
  background: linear-gradient(rgba(62,62,62,1),rgba(62,62,62,0));
  background: -moz-linear-gradient(rgba(62,62,62,1),rgba(62,62,62,0));
  background: -webkit-linear-gradient(rgba(62,62,62,1),rgba(62,62,62,0));
/*!!!!  background: -webkit-linear-gradient(rgba(62,62,62,1),rgba(62,62,62,0)); !!!!*/
}

.content-allgemein{
  width: 99%;
  padding-bottom: 5%;
  height: auto;
}

.calendar{
 width: 50%;
height: auto;
margin-bottom: 5vh;
 float: left;
}

.wrapper {
  width: 100%;
  height: auto;
  margin: 15px auto;
}
.container-calendar {
  margin-top: 10vh;
  padding: 15px;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}
.button-container-calendar button {
  position: relative;
  cursor: pointer;
  display: inline-block;
  zoom: 1.5;
  background: #00a2b7;
  color: #fff
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
  top: 10px;
  outline: none;
}
.table-calendar {
  border-collapse: collapse;
  width: 100%;
  padding: 0;
  border-top: 1px solid lightblue;
}
.table-calendar td, .table-calendar th {
  padding: 10px;
  text-align: center;
  vertical-align: top;
}
#monthHeader {
  text-transform: uppercase;
  color: #999;
  margin: 0;
  font-size: 24pt;
}
#yearHeader {
  margin: 0 0 10px;
  padding: 0 3px;
  font-size: 12pt;
  color: #999;
}
.date-picker {
  cursor: pointer;
}
.date-picker.selected {
  font-weight: bold;
  outline: 1px solid #00BCD4;
}
.date-picker.selected span {
  color: #00BCD4;
}
.occupied {
  background-color: yellow;
}
/* sunday */

.date-picker:nth-child(1), .red-text {
  color: red;
}
/* friday */

.date-picker:nth-child(6) {
  color: green;
}
#monthAndYear {
  text-align: center;
  margin-top: 0;
}
.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
  text-align: center;
}
#previous {
  float: left;
}
#next {
  float: right;
}
.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
  display: none;
}
.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}
#date-picked {
  text-align: center;
  color: #999;
  border-top: 1px solid lightblue;
  padding-top: 15px;
  font-size: 11pt;
  font-weight: bold;
}



.anzeige{
  display: flex;
  flex-direction: row;
  height: auto;
}

#senden{
  width: 90%;
  text-align: center;
}

#sendenBuchung{
  position: absolute;
  color: black;
  border: 1px solid black;
  padding: 1vh;
  text-decoration: none;
  border-radius: 3px;
}

.formular{
  width: 50%;
  height: auto;
  margin-bottom: 5vh;
 float: right;
 text-align: center;
}

.list{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;

}
.lsititem{
  margin-bottom: 1vh;
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
}
.form_required{
  color: red;
}
.text_box{
  width: 45%;
  margin-bottom: 1vh;
}
.label{
  width: 100%;
  margin-bottom: 1vh;
  font-weight: bold;
  text-align: center;
}

#footer1{
margin: 0;
padding: 0;
  width: 85%;
margin-left: 7.5%;
margin-top: 10%;
border: 1px solid var(--dark-white);
  background-color: white;
  -webkit-box-shadow: 1px 5px 5px 0px rgba(240,240,240,1);
  -moz-box-shadow: 1px 5px 5px 0px rgba(240,240,240,1);
  box-shadow: 1px 5px 5px 0px rgba(240,240,240,1);
  cursor: pointer;
  .footer-info-text{
    display: block;
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    margin-top: 2%;
    font-weight: normal;
    color: $main-blue;
    padding-bottom: 10px;
    text-decoration: none;
  }
  &:hover{
    background-color: ligthen($main-blue, 40%) !important;
  }
}

#anschrift{
  float: left;
  width: 30%;
  font-size: 12px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .formular, .calendar, #anschrift {font-size: 10px}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 800px) {
  .formular, .calendar, #anschrift {font-size: 12px; width: 100%;}
}
@media only screen and (max-width: 800px) {
  .anzeige {flex-direction: column;}
}
@media only screen and (max-width: 800px) {
  #navigation {font-size: 10px}
}
@media only screen and (max-width: 450px) {
  #navigation {font-size: 8px}
}
