:root{
  --box-padding: 2px;
}

$main-blue: rgba(0, 48, 80, 1);
$main-orange: rgba(255, 203, 0, 1);
html, body{
  background-color: var(--main-white);
  padding: 0;
  margin: 0;
  font-family: "Roboto","Helvetica",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.homepage{
  width: 99%;
  margin: 0.5%;
  padding-bottom: 0.5%;
  background-color: white;
}

#main-presentation{
  background-image: url("../../bilder/haus-frontansicht.jpg");
  background-color: #cccccc;
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  border-radius: 3px;
}

#navigation{
 width: 90%;
 height: 100%;
 padding-top: 1.5%;
 margin-left: 5%;
 font-size: 36px;
 color: #fff;
 font-weight: bold;
 position: relative;
 line-height: 4vh;
}

#startseite{
  margin: 2vh;
  margin-left: 4vh;
  text-decoration: none;
  color: inherit;
  padding: 2vh 1vh 0;
}

#preise{
  padding: 2vh 1vh 0;
  margin: 2vh;
  text-decoration: none;
  color: inherit;
}

#buchung{
  padding: 2vh 1vh 0;
  margin: 2vh;
  text-decoration: none;
  color: inherit;
}

#umgebung{
  padding: 2vh 1vh 0;
  margin: 2vh;
  text-decoration: none;
  color: inherit;

          text-transform: uppercase;
}

header{
margin: 0;
padding: 0;
  width: 100%;
  height: 7.5%;
border: none;
  background-color: none;
  -webkit-box-shadow:  none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative !important;
  background: linear-gradient(rgba(62,62,62,1),rgba(62,62,62,0));
  background: -moz-linear-gradient(rgba(62,62,62,1),rgba(62,62,62,0));
  background: -webkit-linear-gradient(rgba(62,62,62,1),rgba(62,62,62,0));
/*!!!!  background: -webkit-linear-gradient(rgba(62,62,62,1),rgba(62,62,62,0)); !!!!*/
}

.content-allgemein{
  width: 100%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.anzeige{
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  height: auto;
}

.location{
 width: 50%;
height: 60vh;
}
.map{
  height: 50vh;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
}

#weiterBuchung{
  display: block;
  padding: 10px;
  width: 15vh;
  margin-top: 2vh;
  color: #464646;
  border: 1px solid #464646;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
}

.infos{
  width: 40%;
  min-height: 40vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2vh;
  border-radius: 40px;
  background-color: #FFC971;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer1{
  color: white;
margin: 0;
padding: 0;
  height: auto;
margin-top: 2.5%;
border: 1px solid var(--dark-white);
  background-color: #333;
  -webkit-box-shadow: 1px 5px 5px 0px rgba(240,240,240,1);
  -moz-box-shadow: 1px 5px 5px 0px rgba(240,240,240,1);
  box-shadow: 1px 5px 5px 0px rgba(240,240,240,1);
  cursor: pointer;
display: flex;
flex-direction: row;
justify-content: center;
}

#anschrift{
  width: auto;
  font-size: 18px;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .infos, .calendar, #anschrift {font-size: 10px}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 800px) {
  .infos, .calendar, #anschrift {font-size: 12px; width: 90%;}
}
@media only screen and (max-width: 1000px) {
  .anzeige {flex-direction: column;}
}
@media only screen and (max-width: 1000px) {
  .location, .infos, #anschrift {font-size: 12px; width: 90%;}
}
@media only screen and (max-width: 1000px) {
  #navigation {font-size: 18px}
  #startseite, #preise, #buchung, #umgebung {margin: 0.5vh;}
}
@media only screen and (max-width: 650px) {
  #navigation {font-size: 12px;}
  #main-presentation{ height: 50vh;}
}
